/*Black Coffee*/
$primary-color__hex: #232528;
$primary-color__rgb: rgb(35, 37, 40);

/*Majorelle Blue*/
$secondary-color__hex: #2A2A72;
$secondary-color__rgb: rgb(42, 42, 114);

/*Royal Blue Light*/
$accent-color__hex: #FFA400;
$accent-color__rgb: rgb(255, 164, 0);

/*Light Steel Blue*/
$complimentary-color__hex: #009FFD;
$complimentary-color__rgb: rgb(0, 159, 253);
